Repository Planning-Inspectorate/ODW-Service, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChrisToppingKandC, @beejjacobs, @m-juckes-pins, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: py_deployment_manage_main_config
  workspace/notebook/py_deployment_manage_main_config.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: list_notebooks
  workspace/notebook/list_notebooks.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: casework_nsip_service_user_dim
  workspace/notebook/casework_nsip_service_user_dim.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: horizon_folder
  workspace/notebook/horizon_folder.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: document_meta_data
  workspace/notebook/document_meta_data.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: aie_document_data
  workspace/notebook/aie_document_data.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

adding appeals-document function and environment variable to function app
  functions/config.yaml
  functions/function_app.py
  infrastructure/modules/function-app/locals.tf
  infrastructure/modules/function-app/variables.tf
  infrastructure/workload-function-app.tf
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @beejjacobs, @m-juckes-pins

Updating notebook: casework_nsip_advice_dim_legacy
  workspace/notebook/casework_nsip_advice_dim_legacy.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: document_case_type_dim
  workspace/notebook/document_case_type_dim.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: dart_cases_api
  workspace/notebook/dart_cases_api.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating pipeline: pln_horizon_document_metadata_full Adding pipeline: 0_Raw_Horizon_Document_Metadata_full
  workspace/pipeline/0_Raw_Horizon_Document_Metadata_full.json
  workspace/pipeline/pln_horizon_document_metadata_full.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: py_utils_get_key_vault_secret
  workspace/notebook/py_utils_get_key_vault_secret.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: document_tree_dim
  workspace/notebook/document_tree_dim.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: document_case_reference_dim
  workspace/notebook/document_case_reference_dim.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: casework_nsip_data_dim_legacy
  workspace/notebook/casework_nsip_data_dim_legacy.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: casework_nsip_data_dim
  workspace/notebook/casework_nsip_data_dim.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: casework_nsip_data_dim_legacy
  workspace/notebook/casework_nsip_data_dim_legacy.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: casework_nsip_data_dim
  workspace/notebook/casework_nsip_data_dim.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

ran tf fmt
  infrastructure/workload-function-app.tf
Owners: @ChrisToppingKandC, @beejjacobs, @m-juckes-pins

Updating notebook: casework_nsip_advice_dim
  workspace/notebook/casework_nsip_advice_dim.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: casework_nsip_relevant_representation_dim
  workspace/notebook/casework_nsip_relevant_representation_dim.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

added namespace suffix to app setting
  infrastructure/modules/function-app/locals.tf
Owners: @ChrisToppingKandC, @beejjacobs, @m-juckes-pins

Updating notebook: py_utils_data_validation_final
  workspace/notebook/py_utils_data_validation_final.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: py_utils_data_validation_functions
  workspace/notebook/py_utils_data_validation_functions.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: data_validation_wip
  workspace/notebook/data_validation_wip.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: data_validation_testing
  workspace/notebook/data_validation_testing.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: list_notebooks
  workspace/notebook/list_notebooks.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Renaming notebook: list_notebooks as py_list_notebooks
  workspace/notebook/py_list_notebooks.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: py_list_notebooks
  workspace/notebook/py_list_notebooks.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: py_utils_get_function_metadata
  workspace/notebook/py_utils_get_function_metadata.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: py_0_log_notebook_output
  workspace/notebook/py_0_log_notebook_output.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: zendesk_schema_validation
  workspace/notebook/zendesk_schema_validation.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: zendesk_read_me
  workspace/notebook/zendesk_read_me.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: MiPINS_query
  workspace/notebook/MiPINS_query.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Adding notebook: list_notebooks (#1193)
  workspace/notebook/MiPINS_query.json
  workspace/notebook/aie_document_data.json
  workspace/notebook/casework_nsip_advice_dim.json
  workspace/notebook/casework_nsip_advice_dim_legacy.json
  workspace/notebook/casework_nsip_data_dim.json
  workspace/notebook/casework_nsip_data_dim_legacy.json
  workspace/notebook/casework_nsip_relevant_representation_dim.json
  workspace/notebook/casework_nsip_service_user_dim.json
  workspace/notebook/dart_cases_api.json
  workspace/notebook/data_validation_testing.json
  workspace/notebook/data_validation_wip.json
  workspace/notebook/document_case_reference_dim.json
  workspace/notebook/document_case_type_dim.json
  workspace/notebook/document_meta_data.json
  workspace/notebook/document_tree_dim.json
  workspace/notebook/horizon_folder.json
  workspace/notebook/py_0_log_notebook_output.json
  workspace/notebook/py_list_notebooks.json
  workspace/notebook/py_std_to_hrm.json
  workspace/notebook/py_utils_data_validation_final.json
  workspace/notebook/py_utils_data_validation_functions.json
  workspace/notebook/py_utils_get_function_metadata.json
  workspace/notebook/py_utils_get_key_vault_secret.json
  workspace/notebook/zendesk_read_me.json
  workspace/notebook/zendesk_schema_validation.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

adding appeals-document function and environment variable to function… (#1194)
  functions/config.yaml
  functions/function_app.py
  infrastructure/modules/function-app/locals.tf
  infrastructure/modules/function-app/variables.tf
  infrastructure/workload-function-app.tf
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @beejjacobs, @m-juckes-pins

Updating pipeline: pln_service_user_main
  workspace/pipeline/pln_service_user_main.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating pipeline: pln_service_user_main (#1195)
  workspace/pipeline/pln_service_user_main.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: create_table_from_schema
  workspace/notebook/create_table_from_schema.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: create_table_from_schema
  workspace/notebook/create_table_from_schema.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

.github/CODEOWNERS:

# Define owner of the CODEOWNERS file itself
/.github/CODEOWNERS                                             @ChrisToppingKandC @beejjacobs

# Protect important folders

# Github Actions workflows
/.github/workflows                                              @ChrisToppingKandC @beejjacobs @m-juckes-pins

# most files in infrastructure relate to Terraform code
/infrastructure/**                                              @ChrisToppingKandC @beejjacobs @m-juckes-pins

# Azure Synapse files
/workspace/**                                                   @ChrisToppingKandC @MariaValeroGonzalezKC @muhammadkc @RobPalmer30 @paul-dragan-spartaglobal

# Azure DevOps pipeline files
/pipelines/**                                                   @ChrisToppingKandC @MariaValeroGonzalezKC @muhammadkc @m-juckes-pins @paul-dragan-spartaglobal

# Add protection for certain file extensions,
# i.e. a python or sql expert must approve
*.py                                                            @ChrisToppingKandC @MariaValeroGonzalezKC @muhammadkc @RobPalmer30 @paul-dragan-spartaglobal
*.ipynb                                                         @ChrisToppingKandC @MariaValeroGonzalezKC @muhammadkc @RobPalmer30 @paul-dragan-spartaglobal
*.sql                                                           @ChrisToppingKandC @MariaValeroGonzalezKC @muhammadkc @RobPalmer30 @paul-dragan-spartaglobal
