Repository Planning-Inspectorate/ODW-Service, changes with the owners that .github/CODEOWNERS names for each.
All owners: @beejjacobs, @m-juckes-pins, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786, @NHAL22, @roytalari

Delete placeholder test
  tests/smoke_test/test_placeholder.py
Owners: @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Theodw 1883 add smoke tests (#1968)
  pipelines/jobs/run-synapse-smoketests.yaml
  tests/smoke_test/test_placeholder.py
  tests/smoke_test/test_smoke_azure_functions.py
  tests/smoke_test/test_smoke_datalake.py
  tests/smoke_test/test_smoke_synapse.py
  tests/util/azure_management_test_case.py
  tests/util/config.py
Owners: @m-juckes-pins, @NHAL22, @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Bump up timeout time
  tests/util/notebook_run_test_case.py
Owners: @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Fix logic error in tests
  tests/util/pipeline_run_test_case.py
  tests/validation_test/test_entraid.py
Owners: @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Remove redundant file
  tests/util/pipelineutils.py
Owners: @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Fix logic errors
  tests/util/notebook_run_test_case.py
  tests/validation_test/test_appeal_document.py
  tests/validation_test/test_appeals_event.py
  tests/validation_test/test_appeals_has.py
  tests/validation_test/test_entraid.py
  tests/validation_test/test_nsip_document.py
  tests/validation_test/test_nsip_exam_timetable.py
  tests/validation_test/test_nsip_project.py
  tests/validation_test/test_nsip_s51_advice.py
  tests/validation_test/test_nsip_subscription.py
  tests/validation_test/test_pins_lpa_curated.py
  tests/validation_test/test_relevant_representation.py
  tests/validation_test/test_service_user.py
Owners: @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Fix parameter passing
  tests/util/notebook_run_test_case.py
  tests/util/pipeline_run_test_case.py
Owners: @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Refactor all validation tests to use the new TestCase class
  tests/util/synapse_run_test_case.py
  tests/validation_test/test_appeal_document.py
  tests/validation_test/test_appeals_event.py
  tests/validation_test/test_appeals_has.py
  tests/validation_test/test_entraid.py
  tests/validation_test/test_nsip_document.py
  tests/validation_test/test_nsip_exam_timetable.py
  tests/validation_test/test_nsip_project.py
  tests/validation_test/test_nsip_s51_advice.py
  tests/validation_test/test_nsip_subscription.py
  tests/validation_test/test_pins_lpa_curated.py
  tests/validation_test/test_relevant_representation.py
  tests/validation_test/test_service_user.py
Owners: @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Fix incorrect name of class
  tests/util/synapse_run_test_case.py
  tests/validation_test/test_entraid.py
Owners: @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Theodw 1896 update validation tests (#1970)
  tests/util/notebook_run_test_case.py
  tests/util/pipeline_run_test_case.py
  tests/util/pipelineutils.py
  tests/util/synapse_run_test_case.py
  tests/validation_test/test_appeal_document.py
  tests/validation_test/test_appeals_event.py
  tests/validation_test/test_appeals_has.py
  tests/validation_test/test_entraid.py
  tests/validation_test/test_nsip_document.py
  tests/validation_test/test_nsip_exam_timetable.py
  tests/validation_test/test_nsip_project.py
  tests/validation_test/test_nsip_s51_advice.py
  tests/validation_test/test_nsip_subscription.py
  tests/validation_test/test_pins_lpa_curated.py
  tests/validation_test/test_relevant_representation.py
  tests/validation_test/test_service_user.py
Owners: @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Remove python requirements install step
  pipelines/jobs/run-synapse-integrationtests.yaml
  pipelines/jobs/run-synapse-unittests.yaml
Owners: @m-juckes-pins, @NHAL22, @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Add debug lines
  infrastructure/configuration/devops-agents/tools.sh
Owners: @beejjacobs, @m-juckes-pins, @stef-solirius, @HarrisonBoyleThomas

Install python dependencies
  infrastructure/configuration/devops-agents/tools.sh
Owners: @beejjacobs, @m-juckes-pins, @stef-solirius, @HarrisonBoyleThomas

Remove debug lines. Update requirements path reference
  infrastructure/configuration/devops-agents/tools.sh
Owners: @beejjacobs, @m-juckes-pins, @stef-solirius, @HarrisonBoyleThomas

Update requirements path reference
  infrastructure/configuration/devops-agents/tools.sh
Owners: @beejjacobs, @m-juckes-pins, @stef-solirius, @HarrisonBoyleThomas

Copy file into packer build. Update path
  infrastructure/configuration/devops-agents/build.pkr.hcl
  infrastructure/configuration/devops-agents/tools.sh
Owners: @beejjacobs, @m-juckes-pins, @stef-solirius, @HarrisonBoyleThomas

Copy file into packer build. Update path
  infrastructure/configuration/devops-agents/build.pkr.hcl
  infrastructure/configuration/devops-agents/tools.sh
Owners: @beejjacobs, @m-juckes-pins, @stef-solirius, @HarrisonBoyleThomas

Remove requirements installation
  pipelines/jobs/run-synapse-smoketests.yaml
Owners: @m-juckes-pins, @NHAL22, @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Remove requirements installation
  pipelines/jobs/run-synapse-data-validation-tests.yaml
Owners: @m-juckes-pins, @NHAL22, @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_utils_common_raw_standardised
  workspace/notebook/py_utils_common_raw_standardised.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_utils_common_raw_standardised
  workspace/notebook/py_utils_common_raw_standardised.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_utils_common_raw_standardised
  workspace/notebook/py_utils_common_raw_standardised.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_utils_common_raw_standardised
  workspace/notebook/py_utils_common_raw_standardised.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Theodw 1884 ado test requirements (#1973)
  infrastructure/configuration/devops-agents/build.pkr.hcl
  infrastructure/configuration/devops-agents/tools.sh
  pipelines/jobs/run-synapse-data-validation-tests.yaml
  pipelines/jobs/run-synapse-integrationtests.yaml
  pipelines/jobs/run-synapse-smoketests.yaml
  pipelines/jobs/run-synapse-unittests.yaml
Owners: @beejjacobs, @m-juckes-pins, @stef-solirius, @HarrisonBoyleThomas, @NHAL22, @roytalari, @Fred83200, @Amerali786

Reallocated py_create_logging_delta_table sparkpool
  workspace/notebook/py_create_logging_delta_table.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_utils_common_raw_standardised
  workspace/notebook/py_utils_common_raw_standardised.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Activate purview in test and prod envs
  infrastructure/environments/prod.tfvars
  infrastructure/environments/test.tfvars
Owners: @beejjacobs, @m-juckes-pins, @stef-solirius, @HarrisonBoyleThomas

Activate purview in test and prod envs (#1977)
  infrastructure/environments/prod.tfvars
  infrastructure/environments/test.tfvars
Owners: @beejjacobs, @m-juckes-pins, @stef-solirius, @HarrisonBoyleThomas

Add sql script to initialise lake database so that Purview has perimssion
  workspace/sqlscript/setupPurviewPermissions.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Extend functions key vault script to cover the build env
  functions/helper/getfunctionurlsandsetkeyvaultsecrets.py
Owners: @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Revert unnecessary change
  functions/helper/getfunctionurlsandsetkeyvaultsecrets.py
Owners: @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Extend functions key vault script to cover the build env (#1979)
  functions/helper/getfunctionurlsandsetkeyvaultsecrets.py
Owners: @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Adding 6 new triggers to the SynapseTriggers
  pipelines/jobs/deploy-synapse.yaml
  pipelines/synapse-release.yaml
Owners: @m-juckes-pins, @NHAL22, @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Update PE approval script to cover service bus PEs
  pipelines/scripts/approve_private_endpoints.py
  pipelines/scripts/private_endpoint/service_bus_private_endpoint_manager.py
Owners: @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Update pe approval script to switch to the correct subscriptions
  pipelines/scripts/approve_private_endpoints.py
  pipelines/scripts/util.py
Owners: @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating sqlscript: setupPurviewPermissions
  workspace/sqlscript/setupPurviewPermissions.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Improve logging
  pipelines/scripts/approve_private_endpoints.py
  pipelines/scripts/util.py
Owners: @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Temp skip irrelevant deployment steps
  pipelines/azure-pipelines.yaml
  pipelines/jobs/deploy-synapse.yaml
Owners: @m-juckes-pins, @NHAL22, @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Improve logging
  pipelines/scripts/util.py
Owners: @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Improve logging
  pipelines/scripts/util.py
Owners: @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

.github/CODEOWNERS:

# Define owner of the CODEOWNERS file itself
/.github/CODEOWNERS                                             @beejjacobs @m-juckes-pins @stef-solirius

# Protect important folders

# Github Actions workflows
/.github/workflows                                              @beejjacobs @m-juckes-pins @stef-solirius

# most files in infrastructure relate to Terraform code
/infrastructure/**                                              @beejjacobs @m-juckes-pins @stef-solirius @HarrisonBoyleThomas

# Azure Synapse files
/workspace/**                                                   @stef-solirius @HarrisonBoyleThomas @Fred83200 @Amerali786

# Azure DevOps pipeline files
/pipelines/**                                                   @m-juckes-pins @NHAL22 @roytalari @stef-solirius @HarrisonBoyleThomas @Fred83200 @Amerali786

# Add protection for certain file extensions,
# i.e. a python or sql expert must approve
*.py                                                            @roytalari @stef-solirius @HarrisonBoyleThomas @Fred83200 @Amerali786
*.ipynb                                                         @roytalari @stef-solirius @HarrisonBoyleThomas @Fred83200 @Amerali786
*.sql                                                           @roytalari @stef-solirius @HarrisonBoyleThomas @Fred83200 @Amerali786
