Repository Planning-Inspectorate/ODW-Service, changes with the owners that .github/CODEOWNERS names for each.
All owners: @beejjacobs, @m-juckes-pins, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786, @NHAL22, @roytalari

Updating notebook: py_sap_hr_history_one_off
  workspace/notebook/py_sap_hr_history_one_off.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

chore(infrastructure): upgrade agents to Ubuntu 22, python 3.10, and checkov 3.2.405
  infrastructure/configuration/devops-agents/build.pkr.hcl
  infrastructure/configuration/devops-agents/tools.sh
Owners: @beejjacobs, @m-juckes-pins, @stef-solirius, @HarrisonBoyleThomas

chore(infrastructure): checkov skip comments to support v3 (to be reviewed)
  infrastructure/modules/api-management/region.tf
  infrastructure/modules/bastion-host/region.tf
  infrastructure/modules/devops-agent-pool/region.tf
  infrastructure/modules/function-app/main.tf
  infrastructure/modules/function-app/region.tf
  infrastructure/modules/logic-app/region.tf
  infrastructure/modules/odt-backoffice-sb/region.tf
  infrastructure/modules/service-plan/main.tf
  infrastructure/modules/service-plan/region.tf
  infrastructure/modules/storage-account/main.tf
  infrastructure/modules/storage-account/region.tf
  infrastructure/modules/synapse-data-lake/data-lake.tf
  infrastructure/modules/synapse-data-lake/region.tf
  infrastructure/modules/synapse-ingestion/region.tf
  infrastructure/modules/synapse-management/region.tf
  infrastructure/modules/synapse-monitoring/region.tf
  infrastructure/modules/synapse-network/network.tf
  infrastructure/modules/synapse-network/region.tf
  infrastructure/modules/synapse-shir/region.tf
  infrastructure/modules/synapse-shir/storage.tf
  infrastructure/modules/synapse-sql-server/region.tf
  infrastructure/modules/synapse-sql-server/sql-server.tf
  infrastructure/modules/synapse-sql-server/storage-account.tf
  infrastructure/modules/synapse-workspace-private/region.tf
  infrastructure/modules/synapse-workspace-private/synapse-spark-pool.tf
  infrastructure/modules/synapse-workspace-private/synapse-sql-pool.tf
  infrastructure/modules/synapse-workspace-private/synapse-workspace.tf
  infrastructure/region.tf
Owners: @beejjacobs, @m-juckes-pins, @stef-solirius, @HarrisonBoyleThomas

Updating notebook: py_saphr_inspector_address_weekly_monthly
  workspace/notebook/py_saphr_inspector_address_weekly_monthly.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_saphr_inspector_address_weekly_monthly
  workspace/notebook/py_saphr_inspector_address_weekly_monthly.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_fact_absence_all
  workspace/notebook/py_fact_absence_all.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_saphr_inspector_address_weekly_monthly
  workspace/notebook/py_saphr_inspector_address_weekly_monthly.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_saphr_inspector_address_weekly_monthly
  workspace/notebook/py_saphr_inspector_address_weekly_monthly.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_saphr_inspector_address_weekly_monthly
  workspace/notebook/py_saphr_inspector_address_weekly_monthly.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_saphr_inspector_address_weekly_monthly
  workspace/notebook/py_saphr_inspector_address_weekly_monthly.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_saphr_standardised_transformation
  workspace/notebook/py_saphr_standardised_transformation.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_saphr_load_inspector_address_oneoff
  workspace/notebook/py_saphr_load_inspector_address_oneoff.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_utils_common_schema_creation
  workspace/notebook/py_utils_common_schema_creation.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_saphr_email_weekly_monthly
  workspace/notebook/py_saphr_email_weekly_monthly.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_saphr_email_weekly_monthly
  workspace/notebook/py_saphr_email_weekly_monthly.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_live_dim_inspector_address_weekly_monthly
  workspace/notebook/py_live_dim_inspector_address_weekly_monthly.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_load_sap_hr_monthly
  workspace/notebook/py_load_sap_hr_monthly.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_saphr_load_inspector_address_oneoff
  workspace/notebook/py_saphr_load_inspector_address_oneoff.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_saphr_inspector_address_weekly_monthly
  workspace/notebook/py_saphr_inspector_address_weekly_monthly.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating pipeline: rel_14_0_0_saphr_setup_v2
  workspace/pipeline/rel_14_0_0_saphr_setup_v2.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Renaming pipeline: rel_14_0_0_saphr_setup_v2 as rel_13_0_1_saphr_setup_v2
  workspace/pipeline/rel_13_0_1_saphr_setup_v2.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating pipeline: rel_13_0_1_saphr_setup_v2
  workspace/pipeline/rel_13_0_1_saphr_setup_v2.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating pipeline: pln_post_deployment
  workspace/pipeline/pln_post_deployment.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_fact_absence_all
  workspace/notebook/py_fact_absence_all.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: vw_hr_measures
  workspace/notebook/vw_hr_measures.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: vw_dim_HR_Organisation_Unit
  workspace/notebook/vw_dim_HR_Organisation_Unit.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

chore(infrastructure): checkov skip comments to support v3 (to be reviewed)
  infrastructure/modules/api-management/region.tf
  infrastructure/modules/bastion-host/region.tf
  infrastructure/modules/devops-agent-pool/region.tf
  infrastructure/modules/function-app/main.tf
  infrastructure/modules/function-app/region.tf
  infrastructure/modules/logic-app/region.tf
  infrastructure/modules/odt-backoffice-sb/region.tf
  infrastructure/modules/service-plan/main.tf
  infrastructure/modules/service-plan/region.tf
  infrastructure/modules/storage-account/main.tf
  infrastructure/modules/storage-account/region.tf
  infrastructure/modules/synapse-data-lake/data-lake.tf
  infrastructure/modules/synapse-data-lake/region.tf
  infrastructure/modules/synapse-ingestion/region.tf
  infrastructure/modules/synapse-management/region.tf
  infrastructure/modules/synapse-monitoring/region.tf
  infrastructure/modules/synapse-network/network.tf
  infrastructure/modules/synapse-network/region.tf
  infrastructure/modules/synapse-shir/region.tf
  infrastructure/modules/synapse-shir/storage.tf
  infrastructure/modules/synapse-sql-server/region.tf
  infrastructure/modules/synapse-sql-server/sql-server.tf
  infrastructure/modules/synapse-sql-server/storage-account.tf
  infrastructure/modules/synapse-workspace-private/region.tf
  infrastructure/modules/synapse-workspace-private/synapse-spark-pool.tf
  infrastructure/modules/synapse-workspace-private/synapse-sql-pool.tf
  infrastructure/modules/synapse-workspace-private/synapse-workspace.tf
  infrastructure/region.tf
Owners: @beejjacobs, @m-juckes-pins, @stef-solirius, @HarrisonBoyleThomas

chore(infrastructure): upgrade agents to Ubuntu 22, python 3.10, and checkov 3.2.405
  infrastructure/configuration/devops-agents/build.pkr.hcl
  infrastructure/configuration/devops-agents/tools.sh
Owners: @beejjacobs, @m-juckes-pins, @stef-solirius, @HarrisonBoyleThomas

chore(infrastructure): upgrade to terraform 1.12.2
  infrastructure/configuration/devops-agents/build.pkr.hcl
  infrastructure/configuration/devops-agents/tools.sh
  infrastructure/provider.tf
Owners: @beejjacobs, @m-juckes-pins, @stef-solirius, @HarrisonBoyleThomas

chore(infrastructure): remove install steps for checkov and tflint which are on the agent image
  pipelines/jobs/deploy-infrastructure.yaml
  pipelines/steps/install-checkov.yaml
  pipelines/steps/install-tflint.yaml
  pipelines/terraform-ci.yaml
Owners: @m-juckes-pins, @NHAL22, @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

chore(infrastructure): simplify checkov-validate - print results to console
  pipelines/jobs/deploy-infrastructure.yaml
  pipelines/steps/checkov-validate.yaml
  pipelines/terraform-ci.yaml
Owners: @m-juckes-pins, @NHAL22, @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

chore: remove 'underlay' steps from agent-deploy pipeline
  pipelines/devops-agent-deploy.yaml
Owners: @m-juckes-pins, @NHAL22, @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_hist_sap_hr
  workspace/notebook/py_hist_sap_hr.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_saphr_email_weekly_monthly
  workspace/notebook/py_saphr_email_weekly_monthly.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_sap_hr_history_one_off
  workspace/notebook/py_sap_hr_history_one_off.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_saphr_standardised_transformation
  workspace/notebook/py_saphr_standardised_transformation.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Dqf 361 bug the total number of records in the sap hr inspector address odw is not aligned with the mi pins database (#1972)
  workspace/notebook/py_fact_absence_all.json
  workspace/notebook/py_hist_sap_hr.json
  workspace/notebook/py_live_dim_inspector_address_weekly_monthly.json
  workspace/notebook/py_load_sap_hr_monthly.json
  workspace/notebook/py_sap_hr_history_one_off.json
  workspace/notebook/py_saphr_email_weekly_monthly.json
  workspace/notebook/py_saphr_inspector_address_weekly_monthly.json
  workspace/notebook/py_saphr_load_inspector_address_oneoff.json
  workspace/notebook/py_saphr_standardised_transformation.json
  workspace/notebook/py_utils_common_schema_creation.json
  workspace/notebook/vw_dim_HR_Organisation_Unit.json
  workspace/notebook/vw_hr_measures.json
  workspace/pipeline/pln_post_deployment.json
  workspace/pipeline/rel_13_0_1_saphr_setup_v2.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: delta_back_odw_Harmonised_validate
  workspace/notebook/delta_back_odw_Harmonised_validate.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Add smoke tests
  tests/smoke_test/test_smoke_azure_functions.py
  tests/smoke_test/test_smoke_datalake.py
  tests/smoke_test/test_smoke_synapse.py
  tests/util/azure_management_test_case.py
  tests/util/config.py
Owners: @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Update smoke tests to install correct requirements
  pipelines/jobs/run-synapse-smoketests.yaml
Owners: @m-juckes-pins, @NHAL22, @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

.github/CODEOWNERS:

# Define owner of the CODEOWNERS file itself
/.github/CODEOWNERS                                             @beejjacobs @m-juckes-pins @stef-solirius

# Protect important folders

# Github Actions workflows
/.github/workflows                                              @beejjacobs @m-juckes-pins @stef-solirius

# most files in infrastructure relate to Terraform code
/infrastructure/**                                              @beejjacobs @m-juckes-pins @stef-solirius @HarrisonBoyleThomas

# Azure Synapse files
/workspace/**                                                   @stef-solirius @HarrisonBoyleThomas @Fred83200 @Amerali786

# Azure DevOps pipeline files
/pipelines/**                                                   @m-juckes-pins @NHAL22 @roytalari @stef-solirius @HarrisonBoyleThomas @Fred83200 @Amerali786

# Add protection for certain file extensions,
# i.e. a python or sql expert must approve
*.py                                                            @roytalari @stef-solirius @HarrisonBoyleThomas @Fred83200 @Amerali786
*.ipynb                                                         @roytalari @stef-solirius @HarrisonBoyleThomas @Fred83200 @Amerali786
*.sql                                                           @roytalari @stef-solirius @HarrisonBoyleThomas @Fred83200 @Amerali786
