Repository Planning-Inspectorate/ODW-Service, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChrisToppingKandC, @alex-delany, @MikeCross1979, @nasir-rahman9, @MariaValeroGonzalezKC, @muhammadkc, @paul-dragan-spartaglobal, @m-juckes-pins

.github/CODEOWNERS:

# Define owner of the CODEOWNERS file itself
/.github/CODEOWNERS                                             @ChrisToppingKandC @alex-delany @MikeCross1979

# Protect important folders

# most files in infrastructure relate to Terraform code
/infrastructure/*                                               @alex-delany @nasir-rahman9 @ChrisToppingKandC

# the following sub-folders however contain files managed
# by the data team
/infrastructure/configuration/data-lake/*                       @MikeCross1979 @MariaValeroGonzalezKC @muhammadkc @paul-dragan-spartaglobal @ChrisToppingKandC
/infrastructure/configuration/data-lifecycle/*                  @MikeCross1979 @MariaValeroGonzalezKC @muhammadkc @paul-dragan-spartaglobal @ChrisToppingKandC

# Azure Synapse files
/workspace/*                                                    @MikeCross1979 @MariaValeroGonzalezKC @muhammadkc @paul-dragan-spartaglobal @ChrisToppingKandC

# Azure DevOps pipeline files
/pipelines/*                                                    @alex-delany @ChrisToppingKandC @nasir-rahman9 @m-juckes-pins

# Add protection for certain file extensions,
# i.e. a python or sql expert must approve
*.py                                                            @ChrisToppingKandC @muhammadkc @paul-dragan-spartaglobal
*.ipynb                                                         @ChrisToppingKandC @muhammadkc @paul-dragan-spartaglobal
*.sql                                                           @MikeCross1979 @MariaValeroGonzalezKC @muhammadkc @paul-dragan-spartaglobal @ChrisToppingKandC

Adding notebook: aie_document_data
  workspace/notebook/aie_document_data.json
Owners: none

Updating notebook: aie_document_data
  workspace/notebook/aie_document_data.json
Owners: none

Pg/feat/aie harm (#1000)
  workspace/notebook/aie_document_data.json
Owners: none

Template and parameters deployed on 1-22-2024 14:51:13, based on the collaboration branch's commit ID: e6c01f066cefc540fe891c3e2e71763f12d192af
  pins-synw-odw-dev-uks/TemplateParametersForWorkspace.json
Owners: none

Updating notebook: document_metadata
  workspace/notebook/document_metadata.json
Owners: none

Updating notebook: document_metadata
  workspace/notebook/document_metadata.json
Owners: none

Mc/feature/document meta data/curated (#1001)
  workspace/notebook/document_metadata.json
Owners: none

fix: nsip_exam_timetable schema
  infrastructure/configuration/data-lake/harmonised_table_definitions/casework_nsip_examination_timetable_dim.json
Owners: none

initial servicebus function app doc commit
  docs/architecture/servicebus-functionapps.md
Owners: none

Adding pipeline: 0_Raw_Horizon_NSIP_Exam_Timetable
  workspace/pipeline/0_Raw_Horizon_NSIP_Exam_Timetable.json
Owners: none

Updating pipeline: 0_Horizon_Data_Transfer_Raw
  workspace/pipeline/0_Horizon_Data_Transfer_Raw.json
Owners: none

Updating pipeline: pln_horizon_nsip_exam_timetable
  workspace/pipeline/pln_horizon_nsip_exam_timetable.json
Owners: none

Fix/exam timetable (#1002)
  workspace/pipeline/0_Horizon_Data_Transfer_Raw.json
  workspace/pipeline/0_Raw_Horizon_NSIP_Exam_Timetable.json
  workspace/pipeline/pln_horizon_nsip_exam_timetable.json
Owners: none

adding in group var
  pipelines/function_app_deploy.yaml
Owners: @alex-delany, @ChrisToppingKandC, @nasir-rahman9, @m-juckes-pins

Updating pipeline: pln_post_deployment
  workspace/pipeline/pln_post_deployment.json
Owners: none

Updating notebook: nsip_applicant_service_user
  workspace/notebook/nsip_applicant_service_user.json
Owners: none

further work on function app documentation
  docs/architecture/servicebus-functionapps.md
Owners: none

fixed table of contents
  docs/architecture/servicebus-functionapps.md
Owners: none

fixed typo
  docs/architecture/servicebus-functionapps.md
Owners: none

Updating notebook: nsip_applicant_service_user (#1003)
  workspace/notebook/nsip_applicant_service_user.json
Owners: none

3 docs changes
  infrastructure/configuration/data-lake/orchestration/orchestration.json
  infrastructure/configuration/data-lake/standardised_table_definitions/Horizon/DocumentMetaData.json
  infrastructure/configuration/data-lake/standardised_table_definitions/Horizon/aiedocumentdata.json
Owners: none

added unit test for servicebus function calls and small change to helper file
  functions/helper/getfunctionurlsandsetkeyvaultsecrets.py
  functions/requirements.txt
  functions/tests/test_http_calls.py
Owners: @ChrisToppingKandC, @muhammadkc, @paul-dragan-spartaglobal

Updating pipeline: 0_Raw_Horizon_NSIP_Relevant_Reps
  workspace/pipeline/0_Raw_Horizon_NSIP_Relevant_Reps.json
Owners: none

Updating notebook: py_raw_to_std
  workspace/notebook/py_raw_to_std.json
Owners: none

Updating notebook: py_raw_to_std
  workspace/notebook/py_raw_to_std.json
Owners: none

Updating pipeline: 0_Raw_Horizon_NSIP_Relevant_Reps (#1004)
  workspace/pipeline/0_Raw_Horizon_NSIP_Relevant_Reps.json
Owners: none

Updating pipeline: pln_raw_to_standardised_e2e
  workspace/pipeline/pln_raw_to_standardised_e2e.json
Owners: none

Updating pipeline: 0_Raw_Horizon_NSIP_Relevant_Reps
  workspace/pipeline/0_Raw_Horizon_NSIP_Relevant_Reps.json
Owners: none

added local setup to function app documentation
  docs/architecture/servicebus-functionapps.md
  images/azure-extension.png
  images/functions-core-tools-debugging.png
  images/functions-core-tools-list-functions.png
  images/functions-terminal-emulator.png
Owners: none

feat: add new fields to relevant reps
  infrastructure/configuration/data-lake/harmonised_table_definitions/casework_nsip_relevant_representation_dim.json
  infrastructure/configuration/data-lake/standardised_table_definitions/Horizon/NSIPReleventRepresentation.json
Owners: none

Updating notebook: casework_nsip_relevant_representation_dim
  workspace/notebook/casework_nsip_relevant_representation_dim.json
Owners: none

added file to test folder structure
  docs/architecture/servicebus-functionapps.md
Owners: none

Updating notebook: casework_nsip_relevant_representation_dim
  workspace/notebook/casework_nsip_relevant_representation_dim.json
Owners: none

Fix/new fields rel reps (#1005)
  infrastructure/configuration/data-lake/harmonised_table_definitions/casework_nsip_relevant_representation_dim.json
  infrastructure/configuration/data-lake/standardised_table_definitions/Horizon/NSIPReleventRepresentation.json
  workspace/notebook/casework_nsip_relevant_representation_dim.json
  workspace/notebook/py_raw_to_std.json
  workspace/pipeline/0_Raw_Horizon_NSIP_Relevant_Reps.json
  workspace/pipeline/pln_raw_to_standardised_e2e.json
Owners: none

First commit
  infrastructure/README.md
  infrastructure/environments/dev.tfvars
  infrastructure/modules/function-app/variables.tf
  infrastructure/modules/synapse-ingestion/.terraform.lock.hcl
  infrastructure/modules/synapse-ingestion/README.md
  infrastructure/modules/synapse-ingestion/variables.tf
  infrastructure/modules/synapse-monitoring/README.md
  infrastructure/modules/synapse-monitoring/monitor-function-app.tf
  infrastructure/modules/synapse-monitoring/variables.tf
  infrastructure/variables.tf
  infrastructure/workload-function-app.tf
  infrastructure/workload-monitoring.tf
Owners: @alex-delany, @nasir-rahman9, @ChrisToppingKandC
