Repository Planning-Inspectorate/ODW-Service, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChrisToppingKandC, @beejjacobs, @m-juckes-pins, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: py_sb_raw_to_std
  workspace/notebook/py_sb_raw_to_std.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating pipeline: pln_appeal_document_main
  workspace/pipeline/pln_appeal_document_main.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: py_get_schema_from_url
  workspace/notebook/py_get_schema_from_url.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: py_utils_get_key_vault_secret
  workspace/notebook/py_utils_get_key_vault_secret.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: py_utils_get_key_vault_secret (#1203)
  workspace/notebook/py_utils_get_key_vault_secret.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: create_table_from_schema
  workspace/notebook/create_table_from_schema.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: create_table_from_schema
  workspace/notebook/create_table_from_schema.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: py_sb_raw_to_std
  workspace/notebook/py_sb_raw_to_std.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: py_sb_raw_to_std
  workspace/notebook/py_sb_raw_to_std.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Adding notebook: py_sb_std_to_hrm
  workspace/notebook/py_sb_std_to_hrm.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: casework_nsip_examination_timetable_dim_legacy
  workspace/notebook/casework_nsip_examination_timetable_dim_legacy.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: py_sb_std_to_hrm
  workspace/notebook/py_sb_std_to_hrm.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: casework_nsip_examination_timetable_dim_legacy
  workspace/notebook/casework_nsip_examination_timetable_dim_legacy.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: py_sb_raw_to_std
  workspace/notebook/py_sb_raw_to_std.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Adding notebook: py_spark_df_ingestion_functions
  workspace/notebook/py_spark_df_ingestion_functions.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: py_delete_rows_raw_to_std_outstanding_files
  workspace/notebook/py_delete_rows_raw_to_std_outstanding_files.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: py_delete_rows_raw_to_std_outstanding_files
  workspace/notebook/py_delete_rows_raw_to_std_outstanding_files.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: py_spark_df_ingestion_functions
  workspace/notebook/py_spark_df_ingestion_functions.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: py_sb_raw_to_std
  workspace/notebook/py_sb_raw_to_std.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

fix(infrastructure): use a unique name for appeals back office private endpoint
  infrastructure/modules/odt-backoffice-sb/odt-backofifce-private-endpoint.tf
  infrastructure/modules/odt-backoffice-sb/variables.tf
  infrastructure/workload-odt-backoffice-sb.tf
Owners: @ChrisToppingKandC, @beejjacobs, @m-juckes-pins

fix(infrastructure): use a unique name for appeals back office private endpoint (#1206)
  infrastructure/modules/odt-backoffice-sb/odt-backofifce-private-endpoint.tf
  infrastructure/modules/odt-backoffice-sb/variables.tf
  infrastructure/workload-odt-backoffice-sb.tf
Owners: @ChrisToppingKandC, @beejjacobs, @m-juckes-pins

Updating notebook: py_sb_std_to_hrm
  workspace/notebook/py_sb_std_to_hrm.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: py_spark_df_ingestion_functions
  workspace/notebook/py_spark_df_ingestion_functions.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: py_spark_df_ingestion_functions
  workspace/notebook/py_spark_df_ingestion_functions.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Mvg/fix/s51 advice (#1207)
  workspace/notebook/nsip_data.json
  workspace/notebook/nsip_s51_advice.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: py_spark_df_ingestion_functions
  workspace/notebook/py_spark_df_ingestion_functions.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: py_spark_df_ingestion_functions
  workspace/notebook/py_spark_df_ingestion_functions.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: py_spark_df_ingestion_functions
  workspace/notebook/py_spark_df_ingestion_functions.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: py_sb_std_to_hrm
  workspace/notebook/py_sb_std_to_hrm.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: py_sb_std_to_hrm
  workspace/notebook/py_sb_std_to_hrm.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: py_spark_df_ingestion_functions
  workspace/notebook/py_spark_df_ingestion_functions.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: py_sb_std_to_hrm
  workspace/notebook/py_sb_std_to_hrm.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: py_sb_std_to_hrm
  workspace/notebook/py_sb_std_to_hrm.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: py_sb_raw_to_std
  workspace/notebook/py_sb_raw_to_std.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating pipeline: pln_appeal_document_main
  workspace/pipeline/pln_appeal_document_main.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: py_get_schema_from_url
  workspace/notebook/py_get_schema_from_url.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: zendesk_get_created_tickets
  workspace/notebook/zendesk_get_created_tickets.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: py_get_schema_from_url
  workspace/notebook/py_get_schema_from_url.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Updating notebook: zendesk_get_created_tickets (#1208)
  workspace/notebook/zendesk_get_created_tickets.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal

Template and parameters deployed on 5-23-2024 15:10:20, based on the collaboration branch's commit ID: 7a9583df839f8f6338c3f5bc992c1fe539fd87a0
  pins-synw-odw-dev-uks/TemplateParametersForWorkspace.json
Owners: none

.github/CODEOWNERS:

# Define owner of the CODEOWNERS file itself
/.github/CODEOWNERS                                             @ChrisToppingKandC @beejjacobs

# Protect important folders

# Github Actions workflows
/.github/workflows                                              @ChrisToppingKandC @beejjacobs @m-juckes-pins

# most files in infrastructure relate to Terraform code
/infrastructure/**                                              @ChrisToppingKandC @beejjacobs @m-juckes-pins

# Azure Synapse files
/workspace/**                                                   @ChrisToppingKandC @MariaValeroGonzalezKC @muhammadkc @RobPalmer30 @paul-dragan-spartaglobal

# Azure DevOps pipeline files
/pipelines/**                                                   @ChrisToppingKandC @MariaValeroGonzalezKC @muhammadkc @m-juckes-pins @paul-dragan-spartaglobal

# Add protection for certain file extensions,
# i.e. a python or sql expert must approve
*.py                                                            @ChrisToppingKandC @MariaValeroGonzalezKC @muhammadkc @RobPalmer30 @paul-dragan-spartaglobal
*.ipynb                                                         @ChrisToppingKandC @MariaValeroGonzalezKC @muhammadkc @RobPalmer30 @paul-dragan-spartaglobal
*.sql                                                           @ChrisToppingKandC @MariaValeroGonzalezKC @muhammadkc @RobPalmer30 @paul-dragan-spartaglobal
