Repository Planning-Inspectorate/ODW-Service, changes with the owners that .github/CODEOWNERS names for each.
All owners: @beejjacobs, @m-juckes-pins, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786, @NHAL22, @roytalari

Delete placeholder test
  tests/integration_test/test_placeholder.py
Owners: @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Remove redundant utility file
  tests/util/adls.py
Owners: @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Rename unit tests
  tests/unit_test/test_unit_azure_functions.py
  tests/unit_test/test_unit_py_utils_get_keyvault.py
  tests/unit_test/test_unit_py_utils_get_storage_account.py
Owners: @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Update class name
  tests/unit_test/test_unit_azure_functions.py
  tests/unit_test/test_unit_py_utils_get_keyvault.py
  tests/unit_test/test_unit_py_utils_get_storage_account.py
Owners: @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Update ado pipeline to publish the a test report
  pipelines/jobs/run-synapse-integrationtests.yaml
  pipelines/jobs/run-synapse-smoketests.yaml
  pipelines/jobs/run-synapse-unittests.yaml
  pipelines/steps/publish-test-report.yaml
Owners: @m-juckes-pins, @NHAL22, @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Temp skip full deployment
  pipelines/azure-pipelines.yaml
Owners: @m-juckes-pins, @NHAL22, @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Update incorrect path reference
  pipelines/jobs/run-synapse-integrationtests.yaml
  pipelines/jobs/run-synapse-smoketests.yaml
  pipelines/jobs/run-synapse-unittests.yaml
Owners: @m-juckes-pins, @NHAL22, @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Adding notebook: ref_appeal_attribute_matrix
  workspace/notebook/ref_appeal_attribute_matrix.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Fix indentation
  pipelines/jobs/run-synapse-integrationtests.yaml
  pipelines/jobs/run-synapse-smoketests.yaml
  pipelines/jobs/run-synapse-unittests.yaml
Owners: @m-juckes-pins, @NHAL22, @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Update publish xml ref
  pipelines/steps/publish-test-report.yaml
Owners: @m-juckes-pins, @NHAL22, @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Add debug lines. Update xml path
  pipelines/jobs/run-synapse-smoketests.yaml
  pipelines/steps/publish-test-report.yaml
Owners: @m-juckes-pins, @NHAL22, @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Ensure test result output is junit xml
  pipelines/jobs/run-synapse-integrationtests.yaml
  pipelines/jobs/run-synapse-smoketests.yaml
  pipelines/jobs/run-synapse-unittests.yaml
Owners: @m-juckes-pins, @NHAL22, @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Skip purview smoke test in the build env
  tests/smoke_test/test_smoke_synapse.py
Owners: @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Adding dataset: appeal_attribute_matrix
  workspace/dataset/appeal_attribute_matrix.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Adding pipeline: pln_ref_appeal_attribute_matrix
  workspace/pipeline/pln_ref_appeal_attribute_matrix.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Update gitignore to skip test output
  .gitignore
Owners: none

Updating notebook: delta_back_odw_Harmonised_validate
  workspace/notebook/delta_back_odw_Harmonised_validate.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

case ref and application ref env variables
  tests/unit_test/test_azure_functions.py
  tests/util/config.py
Owners: @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: delta_back_odw_Harmonised_validate
  workspace/notebook/delta_back_odw_Harmonised_validate.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Add boolean variable to toggle the infrastructure deployment
  pipelines/azure-pipelines.yaml
  pipelines/jobs/deploy-infrastructure.yaml
  pipelines/stages/conditional-deployment-infrastructure.yaml
Owners: @m-juckes-pins, @NHAL22, @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Refactor Horizon log
  workspace/dataset/ds_Horizon_odw_raw.json
  workspace/notebook/py_horizon_Refactored_log.json
  workspace/pipeline/pln_all_horizon_data.json
  workspace/pipeline/pln_horizon_to_odw.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Add boolean variable to toggle the infrastructure deployment (#1986)
  pipelines/azure-pipelines.yaml
  pipelines/jobs/deploy-infrastructure.yaml
  pipelines/stages/conditional-deployment-infrastructure.yaml
Owners: @m-juckes-pins, @NHAL22, @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Deleting notebook: ref_appeal_attribute_matrix
  workspace/notebook/ref_appeal_attribute_matrix.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: vw_Employee_Details
  workspace/notebook/vw_Employee_Details.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Extend functions key vault script to cover the build env (#1979)
  functions/helper/getfunctionurlsandsetkeyvaultsecrets.py
Owners: @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating pipeline: rel_14_00_00_saphr_setup
  workspace/pipeline/rel_14_00_00_saphr_setup.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_fact_absence_sickness
  workspace/notebook/py_fact_absence_sickness.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Renaming pipeline: rel_14_02_03_saphr_setup as rel_14_00_00_saphr_setup
  workspace/pipeline/rel_14_00_00_saphr_setup.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating pipeline: rel_14_00_00_saphr_setup
  workspace/pipeline/rel_14_00_00_saphr_setup.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Adding pipeline: rel_14_02_03_saphr_setup
  workspace/pipeline/rel_14_02_03_saphr_setup.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_utils_common_raw_standardised
  workspace/notebook/py_utils_common_raw_standardised.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_utils_common_raw_standardised
  workspace/notebook/py_utils_common_raw_standardised.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_utils_common_raw_standardised
  workspace/notebook/py_utils_common_raw_standardised.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Theodw 1882 integration tests (#1976)
  tests/integration_test/test_integration_pln_trigger_function_app.py
  tests/integration_test/test_integration_py_delete_table.py
  tests/integration_test/test_placeholder.py
  tests/util/pipeline_run_test_case.py
  tests/util/synapse_util.py
  workspace/notebook/test_py_delete_table.json
Owners: @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Remove github actions related to the dev branch
  .github/workflows/dev-to-main-auto-pr.yaml
  .github/workflows/main-merge.yaml
  .github/workflows/only-dev-merge-into-main.yaml
Owners: @beejjacobs, @m-juckes-pins, @stef-solirius

Update the main cicd pipeline to not depend on the dev branch
  pipelines/azure-pipelines.yaml
Owners: @m-juckes-pins, @NHAL22, @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Update nightly pipelines to not depend on the dev branch
  pipelines/nightly-data-validation-tests-dev.yaml
  pipelines/nightly-data-validation-tests-test.yaml
Owners: @m-juckes-pins, @NHAL22, @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Update class name
  tests/unit_test/test_unit_azure_functions.py
  tests/unit_test/test_unit_py_utils_get_keyvault.py
  tests/unit_test/test_unit_py_utils_get_storage_account.py
Owners: @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Add integration tests
  tests/integration_test/test_pln_trigger_function_app.py
  tests/integration_test/test_py_delete_table.py
Owners: @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Rename tests
  tests/integration_test/test_pln_trigger_function_app.py
  tests/integration_test/test_py_delete_table.py
Owners: @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

.github/CODEOWNERS:

# Define owner of the CODEOWNERS file itself
/.github/CODEOWNERS                                             @beejjacobs @m-juckes-pins @stef-solirius

# Protect important folders

# Github Actions workflows
/.github/workflows                                              @beejjacobs @m-juckes-pins @stef-solirius

# most files in infrastructure relate to Terraform code
/infrastructure/**                                              @beejjacobs @m-juckes-pins @stef-solirius @HarrisonBoyleThomas

# Azure Synapse files
/workspace/**                                                   @stef-solirius @HarrisonBoyleThomas @Fred83200 @Amerali786

# Azure DevOps pipeline files
/pipelines/**                                                   @m-juckes-pins @NHAL22 @roytalari @stef-solirius @HarrisonBoyleThomas @Fred83200 @Amerali786

# Add protection for certain file extensions,
# i.e. a python or sql expert must approve
*.py                                                            @roytalari @stef-solirius @HarrisonBoyleThomas @Fred83200 @Amerali786
*.ipynb                                                         @roytalari @stef-solirius @HarrisonBoyleThomas @Fred83200 @Amerali786
*.sql                                                           @roytalari @stef-solirius @HarrisonBoyleThomas @Fred83200 @Amerali786
