Repository Planning-Inspectorate/ODW-Service, changes with the owners that .github/CODEOWNERS names for each.
All owners: @beejjacobs, @m-juckes-pins, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786, @NHAL22, @roytalari

Updating notebook: delta_back_odw_Harmonised_validate
  workspace/notebook/delta_back_odw_Harmonised_validate.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: delta_backup_odw
  workspace/notebook/delta_backup_odw.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_saphr_src_data_anonymisation
  workspace/notebook/py_saphr_src_data_anonymisation.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Add sql scripts to configure the lake databases. Add python script to execute sql scripts against the databases
  pipelines/scripts/initialise_synapse_databases.py
  pipelines/scripts/sql_scripts/initialiseConfigDB.sql
  pipelines/scripts/sql_scripts/initialiseCuratedDB.sql
  pipelines/scripts/sql_scripts/initialiseHarmonisedDB.sql
  pipelines/scripts/sql_scripts/initialiseMasterDBRoles.sql
  pipelines/scripts/sql_scripts/initialiseStandardisedDB.sql
  pipelines/scripts/util.py
Owners: @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating trigger: tr_delta_backup_odw_config_0900
  workspace/trigger/tr_delta_backup_odw_config_0900.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_sap_hr_history_one_off
  workspace/notebook/py_sap_hr_history_one_off.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_saphr_src_data_anonymisation
  workspace/notebook/py_saphr_src_data_anonymisation.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_saphr_src_data_anonymisation
  workspace/notebook/py_saphr_src_data_anonymisation.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_saphr_src_data_anonymisation
  workspace/notebook/py_saphr_src_data_anonymisation.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_saphr_src_data_anonymisation
  workspace/notebook/py_saphr_src_data_anonymisation.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_saphr_src_data_anonymisation
  workspace/notebook/py_saphr_src_data_anonymisation.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_saphr_src_data_anonymisation
  workspace/notebook/py_saphr_src_data_anonymisation.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating pipeline: pln_pipeline_result_email_notifcation
  workspace/pipeline/pln_pipeline_result_email_notifcation.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating pipeline: pln_master
  workspace/pipeline/pln_master.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating pipeline: pln_pipeline_result_email_notifcation
  workspace/pipeline/pln_pipeline_result_email_notifcation.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Adding pipeline: pln_pipeline_result_email_notifcation
  workspace/pipeline/pln_pipeline_result_email_notifcation.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating pipeline: pln_pipeline_result_email_notifcation
  workspace/pipeline/pln_pipeline_result_email_notifcation.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating pipeline: pln_pipeline_result_email_notifcation
  workspace/pipeline/pln_pipeline_result_email_notifcation.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating pipeline: pln_pipeline_result_email_notifcation
  workspace/pipeline/pln_pipeline_result_email_notifcation.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating pipeline: pln_pipeline_result_email_notifcation
  workspace/pipeline/pln_pipeline_result_email_notifcation.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating pipeline: pln_pipeline_result_email_notifcation
  workspace/pipeline/pln_pipeline_result_email_notifcation.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating pipeline: pln_pipeline_result_email_notifcation
  workspace/pipeline/pln_pipeline_result_email_notifcation.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Theodw 1861 email notification (#1990)
  workspace/pipeline/pln_master.json
  workspace/pipeline/pln_pipeline_result_email_notifcation.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

chore(infrastructure): setup dependabot for terraform provider updates
  .github/dependabot.yml
Owners: none

chore(infrastructure): setup dependabot for terraform provider updates
  .github/dependabot.yml
Owners: none

chore(infrastructure): configure dependabot PRs to use dev
  .github/dependabot.yml
Owners: none

Adding database: hbtTestLakeDatabase
  workspace/database/hbtTestLakeDatabase.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_sap_hr_history_one_off
  workspace/notebook/py_sap_hr_history_one_off.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Bugfix/theodw 1935 unarchive datasets for delta pipeline causing pipeline failure (#1991)
  workspace/dataset/ds_bkp_destination.json
  workspace/dataset/ds_bkp_source.json
  workspace/dataset/ds_delta_backup_source.json
  workspace/notebook/delta_back_odw_Harmonised_validate.json
  workspace/notebook/delta_backup_odw.json
  workspace/pipeline/pln_backup_container_odw.json
  workspace/pipeline/pln_delta_backup_odw.json
  workspace/trigger/tr_delta_backup_odw_config_0900.json
  workspace/trigger/tr_delta_backup_odw_cur_0900.json
  workspace/trigger/tr_delta_backup_odw_cur_migr_0900.json
  workspace/trigger/tr_delta_backup_odw_hrm_0900.json
  workspace/trigger/tr_delta_backup_odw_logging_0900.json
  workspace/trigger/tr_delta_backup_odw_std_0900.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Adding 6 new triggers to the SynapseTriggers (#1981)
  pipelines/jobs/deploy-synapse.yaml
  pipelines/synapse-release.yaml
Owners: @m-juckes-pins, @NHAL22, @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Deleting database: hbtTestLakeDatabase
  workspace/database/hbtTestLakeDatabase.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Adding database: hbt_lake_database
  workspace/database/hbt_lake_database.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Deleting database: hbt_lake_database
  workspace/database/hbt_lake_database.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Adding database: hbt_lake_database
  workspace/database/hbt_lake_database.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Adding database: logging
  workspace/database/logging.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating database: logging Adding table: hbtTestTable
  workspace/database/logging/table/hbtTestTable.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_saphr_src_data_anonymisation
  workspace/notebook/py_saphr_src_data_anonymisation.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_saphr_src_data_anonymisation
  workspace/notebook/py_saphr_src_data_anonymisation.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_saphr_src_data_anonymisation
  workspace/notebook/py_saphr_src_data_anonymisation.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_saphr_src_data_anonymisation
  workspace/notebook/py_saphr_src_data_anonymisation.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

.github/CODEOWNERS:

# Define owner of the CODEOWNERS file itself
/.github/CODEOWNERS                                             @beejjacobs @m-juckes-pins @stef-solirius

# Protect important folders

# Github Actions workflows
/.github/workflows                                              @beejjacobs @m-juckes-pins @stef-solirius

# most files in infrastructure relate to Terraform code
/infrastructure/**                                              @beejjacobs @m-juckes-pins @stef-solirius @HarrisonBoyleThomas

# Azure Synapse files
/workspace/**                                                   @stef-solirius @HarrisonBoyleThomas @Fred83200 @Amerali786

# Azure DevOps pipeline files
/pipelines/**                                                   @m-juckes-pins @NHAL22 @roytalari @stef-solirius @HarrisonBoyleThomas @Fred83200 @Amerali786

# Add protection for certain file extensions,
# i.e. a python or sql expert must approve
*.py                                                            @roytalari @stef-solirius @HarrisonBoyleThomas @Fred83200 @Amerali786
*.ipynb                                                         @roytalari @stef-solirius @HarrisonBoyleThomas @Fred83200 @Amerali786
*.sql                                                           @roytalari @stef-solirius @HarrisonBoyleThomas @Fred83200 @Amerali786
