Repository Planning-Inspectorate/ODW-Service, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChrisToppingKandC, @beejjacobs, @m-juckes-pins, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

.github/CODEOWNERS:

# Define owner of the CODEOWNERS file itself
/.github/CODEOWNERS                                             @ChrisToppingKandC @beejjacobs

# Protect important folders

# Github Actions workflows
/.github/workflows                                              @ChrisToppingKandC @beejjacobs @m-juckes-pins

# most files in infrastructure relate to Terraform code
/infrastructure/**                                              @ChrisToppingKandC @beejjacobs @m-juckes-pins

# Azure Synapse files
/workspace/**                                                   @ChrisToppingKandC @MariaValeroGonzalezKC @muhammadkc @RobPalmer30 @paul-dragan-spartaglobal @IsminiA

# Azure DevOps pipeline files
/pipelines/**                                                   @ChrisToppingKandC @MariaValeroGonzalezKC @muhammadkc @m-juckes-pins @paul-dragan-spartaglobal @IsminiA

# Add protection for certain file extensions,
# i.e. a python or sql expert must approve
*.py                                                            @ChrisToppingKandC @MariaValeroGonzalezKC @muhammadkc @RobPalmer30 @paul-dragan-spartaglobal @IsminiA
*.ipynb                                                         @ChrisToppingKandC @MariaValeroGonzalezKC @muhammadkc @RobPalmer30 @paul-dragan-spartaglobal @IsminiA
*.sql                                                           @ChrisToppingKandC @MariaValeroGonzalezKC @muhammadkc @RobPalmer30 @paul-dragan-spartaglobal @IsminiA

Adding pipeline: pln_horizon_Appeals_Event
  workspace/pipeline/pln_horizon_Appeals_Event.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Updating notebook: horizon_appeals_document_metdata_dim
  workspace/notebook/horizon_appeals_document_metdata_dim.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Updating notebook: document_metadata_appeals
  workspace/notebook/document_metadata_appeals.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Renaming notebook: horizon_appeals_document_metdata_dim as appeals_document_metdata
  workspace/notebook/appeals_document_metdata.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Updating notebook: appeals_document_metdata
  workspace/notebook/appeals_document_metdata.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Updating notebook: document_metadata_appeals
  workspace/notebook/document_metadata_appeals.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Updating notebook: appeals_document_metdata
  workspace/notebook/appeals_document_metdata.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Updating notebook: document_metadata_appeals
  workspace/notebook/document_metadata_appeals.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Updating notebook: document_metadata_appeals
  workspace/notebook/document_metadata_appeals.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Updating notebook: document_metadata_appeals
  workspace/notebook/document_metadata_appeals.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Updating notebook: document_metadata_appeals
  workspace/notebook/document_metadata_appeals.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Update 2_standardised.md
  docs/layers/2_standardised.md
Owners: none

Updating notebook: document_metadata_appeals
  workspace/notebook/document_metadata_appeals.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Updating notebook: document_metadata_appeals
  workspace/notebook/document_metadata_appeals.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Updating notebook: document_metadata_appeals
  workspace/notebook/document_metadata_appeals.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Updating pipeline: pln_raw_to_standardised_e2e
  workspace/pipeline/pln_raw_to_standardised_e2e.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Updating notebook: document_metadata_appeals
  workspace/notebook/document_metadata_appeals.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Updating notebook: document_metadata_appeals
  workspace/notebook/document_metadata_appeals.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Updating notebook: document_metadata_appeals
  workspace/notebook/document_metadata_appeals.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Mvg/feat/document appeals curated (#1232)
  workspace/notebook/document_metadata_appeals.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Updating notebook: py_odw_harmonised_table_creation
  workspace/notebook/py_odw_harmonised_table_creation.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Deleting notebook: horizon_appeals_folder
  workspace/notebook/horizon_appeals_folder.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Adding notebook: appeals_folder
  workspace/notebook/appeals_folder.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Updating pipeline: pln_horizon_appeals_folder
  workspace/pipeline/pln_horizon_appeals_folder.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

feat(infrastructure): appeal topic -> appeal-has
  infrastructure/terraform.tfvars
Owners: @ChrisToppingKandC, @beejjacobs, @m-juckes-pins

Update publish_config.json
  workspace/publish_config.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Update publish_config.json
  workspace/publish_config.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

feat(infrastructure): appeal topic -> appeal-has (#1234)
  infrastructure/terraform.tfvars
Owners: @ChrisToppingKandC, @beejjacobs, @m-juckes-pins

Updating notebook: horizon_appeals_document_metdata_dim (#1231)
  workspace/notebook/appeals_document_metdata.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Updating pipeline: pln_horizon_appeals_document_metadata
  workspace/pipeline/pln_horizon_appeals_document_metadata.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Updating pipeline: pln_horizon_appeals_document_metadata
  workspace/pipeline/pln_horizon_appeals_document_metadata.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Updating pipeline: pln_horizon_appeals_document_metadata (#1235)
  workspace/pipeline/pln_horizon_appeals_document_metadata.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Adding notebook: appeals_events_harmonised
  workspace/notebook/appeals_events_harmonised.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Updating pipeline: pln_raw_to_standardised_e2e
  workspace/pipeline/pln_raw_to_standardised_e2e.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Renaming notebook: appeals_document_metdata as horizon_appeals_document_metdata_dim
  workspace/notebook/horizon_appeals_document_metdata_dim.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Updating notebook: horizon_appeals_document_metdata_dim
  workspace/notebook/horizon_appeals_document_metdata_dim.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Pd/fix/rename error horizon appeals document metdata dim (#1236)
  workspace/notebook/horizon_appeals_document_metdata_dim.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Updating pipeline: 0_Raw_Horizon_Appeals_Event
  workspace/pipeline/0_Raw_Horizon_Appeals_Event.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Updating pipeline: pln_horizon_appeals_document_metadata
  workspace/pipeline/pln_horizon_appeals_document_metadata.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Updating pipeline: pln_horizon_appeals_document_metadata (#1237)
  workspace/pipeline/pln_horizon_appeals_document_metadata.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA
