Repository Planning-Inspectorate/ODW-Service, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChrisToppingKandC, @beejjacobs, @m-juckes-pins, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

.github/CODEOWNERS:

# Define owner of the CODEOWNERS file itself
/.github/CODEOWNERS                                             @ChrisToppingKandC @beejjacobs

# Protect important folders

# Github Actions workflows
/.github/workflows                                              @ChrisToppingKandC @beejjacobs @m-juckes-pins

# most files in infrastructure relate to Terraform code
/infrastructure/**                                              @ChrisToppingKandC @beejjacobs @m-juckes-pins

# Azure Synapse files
/workspace/**                                                   @ChrisToppingKandC @MariaValeroGonzalezKC @muhammadkc @RobPalmer30 @paul-dragan-spartaglobal @IsminiA

# Azure DevOps pipeline files
/pipelines/**                                                   @ChrisToppingKandC @MariaValeroGonzalezKC @muhammadkc @m-juckes-pins @paul-dragan-spartaglobal @IsminiA

# Add protection for certain file extensions,
# i.e. a python or sql expert must approve
*.py                                                            @ChrisToppingKandC @MariaValeroGonzalezKC @muhammadkc @RobPalmer30 @paul-dragan-spartaglobal @IsminiA
*.ipynb                                                         @ChrisToppingKandC @MariaValeroGonzalezKC @muhammadkc @RobPalmer30 @paul-dragan-spartaglobal @IsminiA
*.sql                                                           @ChrisToppingKandC @MariaValeroGonzalezKC @muhammadkc @RobPalmer30 @paul-dragan-spartaglobal @IsminiA

Deleting notebook: appeals_events_harmonised
  workspace/notebook/appeals_events_harmonised.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Renaming notebook: appeals_folder_1 as appeals_folder_curated
  workspace/notebook/appeals_folder_curated.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Updating notebook: appeals_folder_curated
  workspace/notebook/appeals_folder_curated.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Updating pipeline: pln_horizon_appeals_folder
  workspace/pipeline/pln_horizon_appeals_folder.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Odw 1253 curated layer uniting data sources change (#1243)
  workspace/notebook/appeals_folder_curated.json
  workspace/pipeline/pln_horizon_appeals_folder.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Updating notebook: Horizon_appeals_events_harmonised
  workspace/notebook/Horizon_appeals_events_harmonised.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Updating notebook: Horizon_appeals_events_harmonised
  workspace/notebook/Horizon_appeals_events_harmonised.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Updating notebook: Horizon_appeals_events_harmonised
  workspace/notebook/Horizon_appeals_events_harmonised.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Feat/odw 1265 (#1238)
  data-models/appeal-document.md
  workspace/notebook/document_metadata_appeals.json
  workspace/notebook/py_std_to_hrm.json
  workspace/pipeline/pln_appeals_document_main.json
  workspace/pipeline/pln_horizon_appeals_document_metadata.json
  workspace/pipeline/pln_horizon_appeals_folder.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Adding notebook: appeals_event
  workspace/notebook/appeals_event.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Updating notebook: Horizon_appeals_events_harmonised
  workspace/notebook/Horizon_appeals_events_harmonised.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Updating notebook: appeals_event
  workspace/notebook/appeals_event.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Updating pipeline: pln_horizon_Appeals_Event
  workspace/pipeline/pln_horizon_Appeals_Event.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Updating pipeline: pln_curated
  workspace/pipeline/pln_curated.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Updating notebook: py_deployment_manage_main_config
  workspace/notebook/py_deployment_manage_main_config.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Updating pipeline: pln_horizon
  workspace/pipeline/pln_horizon.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Updating notebook: py_deployment_manage_main_config
  workspace/notebook/py_deployment_manage_main_config.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Create appeal-event.md
  data-models/appeal-event.md
Owners: none

Update appeal-event.md
  data-models/appeal-event.md
Owners: none

Update appeal-event.md
  data-models/appeal-event.md
Owners: none

Update appeal-event.md
  data-models/appeal-event.md
Owners: none

Update appeal-event.md
  data-models/appeal-event.md
Owners: none

Update appeal-event.md
  data-models/appeal-event.md
Owners: none

Update appeal-event.md
  data-models/appeal-event.md
Owners: none

Update appeal-event.md
  data-models/appeal-event.md
Owners: none

Update appeal-event.md
  data-models/appeal-event.md
Owners: none

Updating notebook: appeals_event
  workspace/notebook/appeals_event.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Update appeal-event.md
  data-models/appeal-event.md
Owners: none

Update appeal-event.md
  data-models/appeal-event.md
Owners: none

Updating notebook: appeals_event
  workspace/notebook/appeals_event.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

feat(infrastructure): add horizon subnet to synapse firewall
  infrastructure/environments/dev.tfvars
  infrastructure/environments/prod.tfvars
  infrastructure/environments/test.tfvars
  infrastructure/modules/synapse-data-lake/data-lake-firewall.tf
  infrastructure/modules/synapse-data-lake/provider.tf
  infrastructure/modules/synapse-data-lake/variables.tf
  infrastructure/provider.tf
  infrastructure/variables.tf
  infrastructure/workload-data-lake.tf
  pipelines/steps/terraform-plan.yaml
Owners: @ChrisToppingKandC, @beejjacobs, @m-juckes-pins, @MariaValeroGonzalezKC, @muhammadkc, @paul-dragan-spartaglobal, @IsminiA

Updating notebook: py_std_to_hrm
  workspace/notebook/py_std_to_hrm.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Updating notebook: py_std_to_hrm
  workspace/notebook/py_std_to_hrm.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Updating notebook: py_std_to_hrm
  workspace/notebook/py_std_to_hrm.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Updating notebook: appeals_event
  workspace/notebook/appeals_event.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Updating notebook: appeals_event
  workspace/notebook/appeals_event.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

Updating notebook: appeals_event
  workspace/notebook/appeals_event.json
Owners: @ChrisToppingKandC, @MariaValeroGonzalezKC, @muhammadkc, @RobPalmer30, @paul-dragan-spartaglobal, @IsminiA

feat(infrastructure): add horizon subnet to synapse firewall (#1245)
  infrastructure/environments/dev.tfvars
  infrastructure/environments/prod.tfvars
  infrastructure/environments/test.tfvars
  infrastructure/modules/synapse-data-lake/data-lake-firewall.tf
  infrastructure/modules/synapse-data-lake/provider.tf
  infrastructure/modules/synapse-data-lake/variables.tf
  infrastructure/provider.tf
  infrastructure/variables.tf
  infrastructure/workload-data-lake.tf
  pipelines/steps/terraform-plan.yaml
Owners: @ChrisToppingKandC, @beejjacobs, @m-juckes-pins, @MariaValeroGonzalezKC, @muhammadkc, @paul-dragan-spartaglobal, @IsminiA

creation of Appeals-has data model
  data-models/appeal-has.md
Owners: none

Appeals-has data model links
  data-models/appeal-has.md
Owners: none
