Repository Planning-Inspectorate/ODW-Service, changes with the owners that .github/CODEOWNERS names for each.
All owners: @beejjacobs, @m-juckes-pins, @stef-solirius, @HarrisonBoyleThomas, @alex-ghoth, @Fred83200, @NHAL22, @roytalari

.github/CODEOWNERS:

# Define owner of the CODEOWNERS file itself
/.github/CODEOWNERS                                             @beejjacobs @m-juckes-pins @stef-solirius

# Protect important folders

# Github Actions workflows
/.github/workflows                                              @beejjacobs @m-juckes-pins @stef-solirius

# most files in infrastructure relate to Terraform code
/infrastructure/**                                              @beejjacobs @m-juckes-pins @stef-solirius @HarrisonBoyleThomas

# Azure Synapse files
/workspace/**                                                   @alex-ghoth @stef-solirius @HarrisonBoyleThomas @Fred83200

# Azure DevOps pipeline files
/pipelines/**                                                   @m-juckes-pins @NHAL22 @roytalari @stef-solirius @alex-ghoth @HarrisonBoyleThomas @Fred83200

# Add protection for certain file extensions,
# i.e. a python or sql expert must approve
*.py                                                            @alex-ghoth @roytalari @stef-solirius @HarrisonBoyleThomas @Fred83200
*.ipynb                                                         @alex-ghoth @roytalari @stef-solirius @HarrisonBoyleThomas @Fred83200
*.sql                                                           @alex-ghoth @roytalari @stef-solirius @HarrisonBoyleThomas @Fred83200

Feat/theodw 1716 create new 34 sparkpool (#1819)
  infrastructure/configuration/spark-pool/requirements-preview.txt
  infrastructure/configuration/spark-pool/requirements.txt
  infrastructure/modules/synapse-workspace-private/synapse-spark-pool.tf
  workspace/sparkConfiguration/sparkConfiguration34.json
Owners: @beejjacobs, @m-juckes-pins, @stef-solirius, @HarrisonBoyleThomas, @alex-ghoth, @Fred83200

Updating notebook: py_unit_tests_nsip_subscription
  workspace/notebook/py_unit_tests_nsip_subscription.json
Owners: @alex-ghoth, @stef-solirius, @HarrisonBoyleThomas, @Fred83200

Adjusted TF Parameter for sparkpool version 3.4
  infrastructure/environments/prod.tfvars
Owners: @beejjacobs, @m-juckes-pins, @stef-solirius, @HarrisonBoyleThomas

Updating notebook: py_unit_tests_nsip_subscription
  workspace/notebook/py_unit_tests_nsip_subscription.json
Owners: @alex-ghoth, @stef-solirius, @HarrisonBoyleThomas, @Fred83200

Updating notebook: py_unit_tests_nsip_subscription
  workspace/notebook/py_unit_tests_nsip_subscription.json
Owners: @alex-ghoth, @stef-solirius, @HarrisonBoyleThomas, @Fred83200

Adjusted Parameter in PROD sparkpool version
  infrastructure/environments/prod.tfvars
Owners: @beejjacobs, @m-juckes-pins, @stef-solirius, @HarrisonBoyleThomas

Adjusted Parameter in PROD sparkpool version (#1823)
  infrastructure/environments/prod.tfvars
Owners: @beejjacobs, @m-juckes-pins, @stef-solirius, @HarrisonBoyleThomas

Updating notebook: py_unit_tests_nsip_subscription
  workspace/notebook/py_unit_tests_nsip_subscription.json
Owners: @alex-ghoth, @stef-solirius, @HarrisonBoyleThomas, @Fred83200

Updating notebook: py_fact_absence_all_spark
  workspace/notebook/py_fact_absence_all_spark.json
Owners: @alex-ghoth, @stef-solirius, @HarrisonBoyleThomas, @Fred83200

chore(tooling): updating latest AzureRM version
  infrastructure/.terraform.lock.hcl
  infrastructure/provider.tf
Owners: @beejjacobs, @m-juckes-pins, @stef-solirius, @HarrisonBoyleThomas

feat(infrastructure): connect uk-west vnet to the tooling vnet for VPN connection
  infrastructure/workload-network.tf
Owners: @beejjacobs, @m-juckes-pins, @stef-solirius, @HarrisonBoyleThomas

Deleting notebook: py_sap_hr_protected_data_historic
  workspace/notebook/py_sap_hr_protected_data_historic.json
Owners: @alex-ghoth, @stef-solirius, @HarrisonBoyleThomas, @Fred83200

feat(infrastructure): connect uk-west vnet to the tooling vnet for VPN connection
  infrastructure/workload-network.tf
Owners: @beejjacobs, @m-juckes-pins, @stef-solirius, @HarrisonBoyleThomas

Adding pipeline: HR_CURATED_MASTER
  workspace/pipeline/HR_CURATED_MASTER.json
Owners: @alex-ghoth, @stef-solirius, @HarrisonBoyleThomas, @Fred83200

Updating pipeline: HR_CURATED_MASTER
  workspace/pipeline/HR_CURATED_MASTER.json
Owners: @alex-ghoth, @stef-solirius, @HarrisonBoyleThomas, @Fred83200

Updating pipeline: HR_CURATED_MASTER
  workspace/pipeline/HR_CURATED_MASTER.json
Owners: @alex-ghoth, @stef-solirius, @HarrisonBoyleThomas, @Fred83200

chore(tooling): updating latest AzureRM version
  infrastructure/.terraform.lock.hcl
  infrastructure/provider.tf
Owners: @beejjacobs, @m-juckes-pins, @stef-solirius, @HarrisonBoyleThomas

Updating pipeline: HR_CURATED_MASTER
  workspace/pipeline/HR_CURATED_MASTER.json
Owners: @alex-ghoth, @stef-solirius, @HarrisonBoyleThomas, @Fred83200

Deleting pipeline: pln_master_test_email
  workspace/pipeline/pln_master_test_email.json
Owners: @alex-ghoth, @stef-solirius, @HarrisonBoyleThomas, @Fred83200

Updating pipeline: pln_master
  workspace/pipeline/pln_master.json
Owners: @alex-ghoth, @stef-solirius, @HarrisonBoyleThomas, @Fred83200

Updating pipeline: pln_curated
  workspace/pipeline/pln_curated.json
Owners: @alex-ghoth, @stef-solirius, @HarrisonBoyleThomas, @Fred83200

Updating pipeline: HR_CURATED_MASTER
  workspace/pipeline/HR_CURATED_MASTER.json
Owners: @alex-ghoth, @stef-solirius, @HarrisonBoyleThomas, @Fred83200

Updating pipeline: HR_CURATED_MASTER
  workspace/pipeline/HR_CURATED_MASTER.json
Owners: @alex-ghoth, @stef-solirius, @HarrisonBoyleThomas, @Fred83200
