Repository Planning-Inspectorate/ODW-Service, changes with the owners that .github/CODEOWNERS names for each.
All owners: @beejjacobs, @m-juckes-pins, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786, @NHAL22, @roytalari

Updating notebook: py_sap_hr_history_one_off
  workspace/notebook/py_sap_hr_history_one_off.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_saphr_src_data_anonymisation
  workspace/notebook/py_saphr_src_data_anonymisation.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_saphr_src_data_anonymisation
  workspace/notebook/py_saphr_src_data_anonymisation.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_saphr_src_data_anonymisation
  workspace/notebook/py_saphr_src_data_anonymisation.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_saphr_src_data_anonymisation
  workspace/notebook/py_saphr_src_data_anonymisation.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_sap_hr_history_one_off
  workspace/notebook/py_sap_hr_history_one_off.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Update full synapse deployment to delete files not present in the workspace
  pipelines/jobs/deploy-synapse.yaml
Owners: @m-juckes-pins, @NHAL22, @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Adding notebook: py_initialise_lake_databases
  workspace/notebook/py_initialise_lake_databases.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_sap_hr_history_one_off
  workspace/notebook/py_sap_hr_history_one_off.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Adding notebook: py_create_lake_database_tables
  workspace/notebook/py_create_lake_database_tables.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Deleting table: hbtTestTable
  workspace/database/logging/table/hbtTestTable.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Deleting database: logging
  workspace/database/logging.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_sap_hr_history_one_off
  workspace/notebook/py_sap_hr_history_one_off.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_saphr_src_data_anonymisation
  workspace/notebook/py_saphr_src_data_anonymisation.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_saphr_src_data_anonymisation
  workspace/notebook/py_saphr_src_data_anonymisation.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_saphr_src_data_anonymisation
  workspace/notebook/py_saphr_src_data_anonymisation.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_saphr_src_data_anonymisation
  workspace/notebook/py_saphr_src_data_anonymisation.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_saphr_src_data_anonymisation
  workspace/notebook/py_saphr_src_data_anonymisation.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_saphr_src_data_anonymisation
  workspace/notebook/py_saphr_src_data_anonymisation.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Update trigger variable definition to be in 1 line to avoid a crash when activating the triggers
  pipelines/jobs/deploy-synapse.yaml
Owners: @m-juckes-pins, @NHAL22, @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_create_lake_database_tables
  workspace/notebook/py_create_lake_database_tables.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_create_lake_database_tables
  workspace/notebook/py_create_lake_database_tables.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_create_lake_database_tables
  workspace/notebook/py_create_lake_database_tables.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Update full synapse deployment to delete files not present in the wor… (#1994)
  pipelines/jobs/deploy-synapse.yaml
Owners: @m-juckes-pins, @NHAL22, @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_create_lake_database_tables
  workspace/notebook/py_create_lake_database_tables.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating pipeline: pln_post_deployment
  workspace/pipeline/pln_post_deployment.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating pipeline: pln_post_deployment
  workspace/pipeline/pln_post_deployment.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_create_lake_database_tables
  workspace/notebook/py_create_lake_database_tables.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Remove github actions related to the dev branch
  .github/workflows/dev-to-main-auto-pr.yaml
  .github/workflows/main-merge.yaml
  .github/workflows/only-dev-merge-into-main.yaml
Owners: @beejjacobs, @m-juckes-pins, @stef-solirius

Update nightly pipelines to not depend on the dev branch
  pipelines/nightly-data-validation-tests-dev.yaml
  pipelines/nightly-data-validation-tests-test.yaml
Owners: @m-juckes-pins, @NHAL22, @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Update the main cicd pipeline to not depend on the dev branch
  pipelines/azure-pipelines.yaml
Owners: @m-juckes-pins, @NHAL22, @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Theodw 1846 remove dev branch (#1998)
  .github/workflows/dev-to-main-auto-pr.yaml
  .github/workflows/main-merge.yaml
  .github/workflows/only-dev-merge-into-main.yaml
  pipelines/azure-pipelines.yaml
  pipelines/nightly-data-validation-tests-dev.yaml
  pipelines/nightly-data-validation-tests-test.yaml
Owners: @beejjacobs, @m-juckes-pins, @stef-solirius, @NHAL22, @roytalari, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_create_lake_database_tables
  workspace/notebook/py_create_lake_database_tables.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_saphr_src_data_anonymisation
  workspace/notebook/py_saphr_src_data_anonymisation.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_saphr_src_data_anonymisation
  workspace/notebook/py_saphr_src_data_anonymisation.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_saphr_src_data_anonymisation
  workspace/notebook/py_saphr_src_data_anonymisation.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_saphr_src_data_anonymisation
  workspace/notebook/py_saphr_src_data_anonymisation.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_saphr_src_data_anonymisation
  workspace/notebook/py_saphr_src_data_anonymisation.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_create_lake_database_tables
  workspace/notebook/py_create_lake_database_tables.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_saphr_src_data_anonymisation
  workspace/notebook/py_saphr_src_data_anonymisation.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

.github/CODEOWNERS:

# Define owner of the CODEOWNERS file itself
/.github/CODEOWNERS                                             @beejjacobs @m-juckes-pins @stef-solirius

# Protect important folders

# Github Actions workflows
/.github/workflows                                              @beejjacobs @m-juckes-pins @stef-solirius

# most files in infrastructure relate to Terraform code
/infrastructure/**                                              @beejjacobs @m-juckes-pins @stef-solirius @HarrisonBoyleThomas

# Azure Synapse files
/workspace/**                                                   @stef-solirius @HarrisonBoyleThomas @Fred83200 @Amerali786

# Azure DevOps pipeline files
/pipelines/**                                                   @m-juckes-pins @NHAL22 @roytalari @stef-solirius @HarrisonBoyleThomas @Fred83200 @Amerali786

# Add protection for certain file extensions,
# i.e. a python or sql expert must approve
*.py                                                            @roytalari @stef-solirius @HarrisonBoyleThomas @Fred83200 @Amerali786
*.ipynb                                                         @roytalari @stef-solirius @HarrisonBoyleThomas @Fred83200 @Amerali786
*.sql                                                           @roytalari @stef-solirius @HarrisonBoyleThomas @Fred83200 @Amerali786
