Repository Planning-Inspectorate/ODW-Service, changes with the owners that .github/CODEOWNERS names for each.
All owners: @beejjacobs, @m-juckes-pins, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786, @NHAL22, @roytalari

.github/CODEOWNERS:

# Define owner of the CODEOWNERS file itself
/.github/CODEOWNERS                                             @beejjacobs @m-juckes-pins @stef-solirius

# Protect important folders

# Github Actions workflows
/.github/workflows                                              @beejjacobs @m-juckes-pins @stef-solirius

# most files in infrastructure relate to Terraform code
/infrastructure/**                                              @beejjacobs @m-juckes-pins @stef-solirius @HarrisonBoyleThomas

# Azure Synapse files
/workspace/**                                                   @stef-solirius @HarrisonBoyleThomas @Fred83200 @Amerali786

# Azure DevOps pipeline files
/pipelines/**                                                   @m-juckes-pins @NHAL22 @roytalari @stef-solirius @HarrisonBoyleThomas @Fred83200 @Amerali786

# Add protection for certain file extensions,
# i.e. a python or sql expert must approve
*.py                                                            @roytalari @stef-solirius @HarrisonBoyleThomas @Fred83200 @Amerali786
*.ipynb                                                         @roytalari @stef-solirius @HarrisonBoyleThomas @Fred83200 @Amerali786
*.sql                                                           @roytalari @stef-solirius @HarrisonBoyleThomas @Fred83200 @Amerali786

Remove extra quotesg
  pipelines/scripts/util.py
Owners: @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: delta_back_odw_Harmonised_validate
  workspace/notebook/delta_back_odw_Harmonised_validate.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Update command to wait before continuing
  pipelines/scripts/util.py
Owners: @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Add debug line
  pipelines/scripts/approve_private_endpoints.py
Owners: @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Add debug line
  pipelines/scripts/approve_private_endpoints.py
Owners: @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Remove debug lines. Fix logic error
  pipelines/scripts/approve_private_endpoints.py
Owners: @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Dqf 402 parameterised data set connection rework v2 (#1958)
  workspace/notebook/py_hist_sap_hr.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Only approved service bus endpoints for non-build envs
  pipelines/scripts/approve_private_endpoints.py
Owners: @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Fix: Update - notebook appeal_event_curated_mipins (#1964)
  workspace/notebook/appeal_event_curated_mipins.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Update unit tests (#1963)
  tests/util/config.py
  tests/util/notebook_run_test_case.py
Owners: @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Reallocated py_create_logging_delta_table sparkpool
  workspace/notebook/py_create_logging_delta_table.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Theodw 1857 migrate purview (#1961)
  infrastructure/environments/prod.tfvars
  infrastructure/environments/test.tfvars
Owners: @beejjacobs, @m-juckes-pins, @stef-solirius, @HarrisonBoyleThomas

Revert "Fix: Update - notebook appeal_event_curated_mipins (#1964)" (#1966)
  workspace/notebook/appeal_event_curated_mipins.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Dqf 402 parameterised data set connection rework v2 (#1958)
  workspace/notebook/py_hist_sap_hr.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Revert "Fix: Update - notebook appeal_event_curated_mipins (#1964)" (#1966)
  workspace/notebook/appeal_event_curated_mipins.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Fix: Update - notebook appeal_event_curated_mipins (#1964)
  workspace/notebook/appeal_event_curated_mipins.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Update unit tests (#1963)
  tests/util/notebook_run_test_case.py
Owners: @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Dqf 402 parameterised data set connection rework v2 (#1958)
  workspace/notebook/py_hist_sap_hr.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Fix: Update - notebook appeal_event_curated_mipins (#1964)
  workspace/notebook/appeal_event_curated_mipins.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Revert "Fix: Update - notebook appeal_event_curated_mipins (#1964)" (#1966)
  workspace/notebook/appeal_event_curated_mipins.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Update unit tests (#1963)
  tests/util/notebook_run_test_case.py
Owners: @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Dqf 402 parameterised data set connection rework v2 (#1958)
  workspace/notebook/py_hist_sap_hr.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Revert "Fix: Update - notebook appeal_event_curated_mipins (#1964)" (#1966)
  workspace/notebook/appeal_event_curated_mipins.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Fix: Update - notebook appeal_event_curated_mipins (#1964)
  workspace/notebook/appeal_event_curated_mipins.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Revert "Fix: Update - notebook appeal_event_curated_mipins (#1964)" (#1966)
  workspace/notebook/appeal_event_curated_mipins.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Fix: Update - notebook appeal_event_curated_mipins (#1964)
  workspace/notebook/appeal_event_curated_mipins.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Removed reference from old sparkpool
  workspace/notebook/py_create_logging_delta_table.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_sb_horizon_harmonised_nsip_document
  workspace/notebook/py_sb_horizon_harmonised_nsip_document.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Removed reference from old sparkpool (#1983)
  workspace/notebook/py_create_logging_delta_table.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Revert changes to the pipeline
  pipelines/azure-pipelines.yaml
  pipelines/jobs/deploy-synapse.yaml
Owners: @m-juckes-pins, @NHAL22, @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_sb_horizon_harmonised_nsip_document (#1975)
  workspace/notebook/py_sb_horizon_harmonised_nsip_document.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Theodw 1925 service bus mpe approval (#1982)
  pipelines/scripts/approve_private_endpoints.py
  pipelines/scripts/private_endpoint/service_bus_private_endpoint_manager.py
  pipelines/scripts/util.py
Owners: @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: delta_back_odw_Harmonised_validate
  workspace/notebook/delta_back_odw_Harmonised_validate.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Rename tests
  tests/integration_test/test_integration_pln_trigger_function_app.py
  tests/integration_test/test_integration_py_delete_table.py
Owners: @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Improve commenting and error handling
  tests/util/synapse_util.py
Owners: @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Remove comment
  tests/util/synapse_util.py
Owners: @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Add integration tests
  tests/integration_test/test_pln_trigger_function_app.py
  tests/integration_test/test_py_delete_table.py
  tests/util/pipeline_run_test_case.py
  tests/util/synapse_util.py
  workspace/notebook/test_py_delete_table.json
Owners: @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Increase max wait time
  tests/integration_test/test_integration_pln_trigger_function_app.py
  tests/integration_test/test_integration_py_delete_table.py
Owners: @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Remove unused imports. Improve commenting
  tests/integration_test/test_integration_pln_trigger_function_app.py
  tests/integration_test/test_integration_py_delete_table.py
Owners: @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Improve error handling
  tests/integration_test/test_integration_py_delete_table.py
Owners: @roytalari, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786
