Repository Planning-Inspectorate/ODW-Service, changes with the owners that .github/CODEOWNERS names for each.
All owners: @beejjacobs, @m-juckes-pins, @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786, @NHAL22, @roytalari

.github/CODEOWNERS:

# Define owner of the CODEOWNERS file itself
/.github/CODEOWNERS                                             @beejjacobs @m-juckes-pins @stef-solirius

# Protect important folders

# Github Actions workflows
/.github/workflows                                              @beejjacobs @m-juckes-pins @stef-solirius

# most files in infrastructure relate to Terraform code
/infrastructure/**                                              @beejjacobs @m-juckes-pins @stef-solirius @HarrisonBoyleThomas

# Azure Synapse files
/workspace/**                                                   @stef-solirius @HarrisonBoyleThomas @Fred83200 @Amerali786

# Azure DevOps pipeline files
/pipelines/**                                                   @m-juckes-pins @NHAL22 @roytalari @stef-solirius @HarrisonBoyleThomas @Fred83200 @Amerali786

# Add protection for certain file extensions,
# i.e. a python or sql expert must approve
*.py                                                            @roytalari @stef-solirius @HarrisonBoyleThomas @Fred83200 @Amerali786
*.ipynb                                                         @roytalari @stef-solirius @HarrisonBoyleThomas @Fred83200 @Amerali786
*.sql                                                           @roytalari @stef-solirius @HarrisonBoyleThomas @Fred83200 @Amerali786

Updating notebook: py_absence_data_all
  workspace/notebook/py_absence_data_all.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: Notebook 1
  workspace/notebook/Notebook 1.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

update codeql.yml file
  .github/workflows/codeql.yml
Owners: @beejjacobs, @m-juckes-pins, @stef-solirius

Updating notebook: Notebook 1
  workspace/notebook/Notebook 1.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: Notebook 1
  workspace/notebook/Notebook 1.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: Notebook 1
  workspace/notebook/Notebook 1.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: Notebook 1
  workspace/notebook/Notebook 1.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: Notebook 1
  workspace/notebook/Notebook 1.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_create_spark_schema_horizon
  workspace/notebook/py_create_spark_schema_horizon.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: Notebook 1
  workspace/notebook/Notebook 1.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating pipeline: pln_horizon_to_odw
  workspace/pipeline/pln_horizon_to_odw.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating pipeline: pln_rest_api
  workspace/pipeline/pln_rest_api.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating pipeline: pln_horizon_to_odw
  workspace/pipeline/pln_horizon_to_odw.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating pipeline: pln_all_horizon_data
  workspace/pipeline/pln_all_horizon_data.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating pipeline: pln_master_Refactored_Horizon
  workspace/pipeline/pln_master_Refactored_Horizon.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: vw_dim_HR_Organisation_Unit
  workspace/notebook/vw_dim_HR_Organisation_Unit.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_create_spark_schema_horizon
  workspace/notebook/py_create_spark_schema_horizon.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: vw_dim_HR_cost_centre
  workspace/notebook/vw_dim_HR_cost_centre.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: Notebook 1
  workspace/notebook/Notebook 1.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_load_sap_hr_monthly
  workspace/notebook/py_load_sap_hr_monthly.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: Notebook 1
  workspace/notebook/Notebook 1.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_unit_tests_functions
  workspace/notebook/py_unit_tests_functions.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_unit_tests_functions
  workspace/notebook/py_unit_tests_functions.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_unit_tests_functions
  workspace/notebook/py_unit_tests_functions.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_unit_tests_functions
  workspace/notebook/py_unit_tests_functions.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Renaming notebook: py_create_spark_schema_horizon as py_create_spark_schema_odw_config
  workspace/notebook/py_create_spark_schema_odw_config.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_create_spark_schema_odw_config
  workspace/notebook/py_create_spark_schema_odw_config.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Adding notebook: py_unit_tests_appeals_events_Copy1
  workspace/notebook/py_unit_tests_appeals_events_Copy1.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: py_unit_tests_functions
  workspace/notebook/py_unit_tests_functions.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating pipeline: pln_rest_api
  workspace/pipeline/pln_rest_api.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: Notebook 1
  workspace/notebook/Notebook 1.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating pipeline: pln_horizon_to_odw
  workspace/pipeline/pln_horizon_to_odw.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

update codeql.yml file
  .github/workflows/codeql.yml
Owners: @beejjacobs, @m-juckes-pins, @stef-solirius

Deleted old 3.3 sparkpool (#2005)
  infrastructure/modules/synapse-workspace-private/outputs.tf
  infrastructure/modules/synapse-workspace-private/synapse-spark-pool.tf
Owners: @beejjacobs, @m-juckes-pins, @stef-solirius, @HarrisonBoyleThomas

Updating notebook: Notebook 1
  workspace/notebook/Notebook 1.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: Notebook 1
  workspace/notebook/Notebook 1.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating pipeline: pln_all_horizon_data
  workspace/pipeline/pln_all_horizon_data.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating pipeline: pln_horizon_to_odw
  workspace/pipeline/pln_horizon_to_odw.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating pipeline: pln_master_Refactored_Horizon
  workspace/pipeline/pln_master_Refactored_Horizon.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786

Updating notebook: Notebook 1
  workspace/notebook/Notebook 1.json
Owners: @stef-solirius, @HarrisonBoyleThomas, @Fred83200, @Amerali786
